body {
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Lobster Two', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;

}

.top-section {
    width: 50%;
    padding: 5%;
}

.top-section img {
    width: 70%;

}


h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.link-button {
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 18px;
    font-weight: 700;
    color: white;

}
.link-button:hover {
   background-image: linear-gradient(red,blue);

}

.mid-banner {
    background: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

.box-text {
    text-align: center;
    margin: auto;
}

.box {

    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 40px;
    border-radius: 25px;

}

.box img {
    width: 95%;
    margin-top: 35px;
}
.box img:hover{
  border-radius: 100px ;
}

.viewport {
    display: flex;
    box-shadow: 10px 10px 40px gray;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 25px;
    }
.view:hover {
    background-color: rgb(168, 192, 192);
    border: 2px solid black;
    width: 100%;
    height: 100px;
    margin-top: 80px;
    margin-left: 50px ;
    margin-right: 50px;
    
    border-radius: 25px;
    }

.view{
        padding: 12%;
    }
    .footer{
        text-align: center;
        background-color: rgb(1, 1, 14);
        color: white;
    }